.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 7rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.logo {
  fill: #444;
  width: 50px;
  height: 50px;
  align-self: center;
  margin-left: 9rem;
}

.login {
  display: flex;

  &__input {
    border: none;
    padding: 0.5rem 2rem;
    font-size: 1.6rem;
    font-family: inherit;
    text-align: center;
    width: 12rem;
    border-radius: 10rem;
    margin-right: 1rem;
    color: inherit;
    border: 1px solid #fff;
    transition: all 0.3s;

    &:focus {
      outline: none;
      border: 1px solid #ccc;
      // color: black;
    }

    &::placeholder {
      color: #bbb;
    }
  }

  &__btn {
    border: none;
    background: none;
    font-size: 2.2rem;
    color: inherit;
    cursor: pointer;
    transition: all 0.3s;
  }
}

.login__btn:hover,
.login__btn:focus,
.btn--sort:hover,
.btn--sort:focus {
  outline: none;
  color: #777;
}
.header {
  grid-column: 3 / 9;
  border-radius: 1rem;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.card {
  height: 150px;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.05)
  );
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.8rem);
  border-radius: 1rem;
  padding: 1.5rem;
  transition: all 1s;
  display: inline-block;

  &__transfer {
    grid-column: 3 / 5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: scale(0.9) translateX(-1.5rem);
    &:hover {
      transform: scale(1);
      background-color: green;
    }
  }
  &__request {
    grid-column: 5 / 7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: scale(0.9);

    &:hover {
      transform: scale(1);
      background-color: orange;
    }
  }
  &__close {
    grid-column: 7 / 9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: scale(0.9) translateX(1.5rem);

    &:hover {
      transform: scale(1);
      background-color: red;
    }
  }
}

.form {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  grid-template-rows: auto auto;
  gap: 0.4rem 1rem;
}

/* Exceptions for interst */
.form.form--request {
  grid-template-columns: 3fr 1fr;
}
.form__label--request {
  grid-row: 2;
}
/* End exceptions */

.form__input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: inherit;
  font-size: 1.5rem;
  text-align: center;
  color: #333;
  padding: 0.3rem 1rem;
  border-radius: 0.7rem;
  transition: all 0.3s;
}

.form__input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.6);
}

.form__label {
  font-size: 1.3rem;
  text-align: center;
}

.form__btn {
  border: none;
  border-radius: 0.7rem;
  font-size: 1.8rem;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}

.form__btn:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
}
.operations {
  grid-column: 3 / 9;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.05)
  );
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.8rem);
  border-radius: 1rem;
  padding: 1.5rem;
  overflow-y: scroll;
}

.operations__row {
  padding: 2.25rem 4rem;
  display: flex;
  align-items: center;
  // justify-items: center;
  border-bottom: 1px solid rgba(51, 51, 51, 0.116);
}

.operations__type {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0.1rem 1rem;
  border-radius: 10rem;
  margin-right: 2rem;
}

.operations__date {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 500;
}

.operations__type--deposit {
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.operations__type--withdrawal {
  background-image: linear-gradient(to top left, #e52a5a, #ff585f);
}

.operations__value {
  font-size: 1.7rem;
  margin-left: auto;
}

.footer {
  grid-column: 3 / 9;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.05)
  );
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.8rem);
  border-radius: 1rem;
  padding: 1.5rem;
  margin-bottom: 2rem;
}

.summary {
  grid-row: 5 / 6;
  display: flex;
  align-items: baseline;
  padding: 0 0.3rem;
  margin-top: 1rem;
}

.summary__label {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 0.8rem;
}

.summary__value {
  font-size: 2.2rem;
  margin-right: 2.5rem;
}

.summary__value--in,
.summary__value--interest {
  color: #66c873;
}

.summary__value--out {
  color: #f5465d;
}

.btn--sort {
  margin-left: auto;
  border: none;
  background: none;
  font-size: 1.3rem;
  font-weight: 500;
  cursor: pointer;
}
